$bg-dark: #303131;
$accent: #F0EA6E;
$text-light: #FFFFFF;
$bg-light: #FFFFFF;
$bar-bg: #F6F6F6;
$disabled-bg: #DBDBD6;
$disabled-text: #A3A1A1;

$board-gap-4x4: 16px;
$board-gap-4x6: 6px;
$board-gap-6x6: 6px;
