@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../assets/fonts/almarai-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/almarai-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../assets/fonts/red-rose-bold.woff2") format("woff2");
}
