@use "sass:map";
@use "../abstract" as *;

@each $theme, $colors in $themes {
  body[data-theme="#{$theme}"] {
    --game-bg: #{map.get($colors, "game-bg")};
    --game-text: #{map.get($colors, "game-text")};
    --game-font: #{map.get($colors, "game-font")};
    --player-blue-display: #{map.get($colors, "player-blue-display")};
    --player-orange-display: #{map.get($colors, "player-orange-display")};
    --card-back: #{map.get($colors, "card-back")};
    --card-front: #{map.get($colors, "card-front")};
    --card-radius: #{map.get($colors, "card-radius")};
    --card-shadow: #{map.get($colors, "card-shadow")};
    --card-width: #{map.get($colors, "card-width")};
    --card-height: #{map.get($colors, "card-height")};
    --card-padding: #{map.get($colors, "card-padding")};
    --card-watermark-width: #{map.get($colors, "card-watermark-width")};
    --header-bar: #{map.get($colors, "header-bar")};
    --header-letter-spacing: #{map.get($colors, "header-letter-spacing")};
    --exit-border: #{map.get($colors, "exit-border")};
    --exit-bg: #{map.get($colors, "exit-bg")};
    --exit-hover-bg: #{map.get($colors, "exit-hover-bg")};
    --exit-hover-shadow: #{map.get($colors, "exit-hover-shadow")};
    --exit-hover-icon: #{map.get($colors, "exit-hover-icon")};
    --exit-letter-spacing: #{map.get($colors, "exit-letter-spacing")};
    --current-color: #{map.get($colors, "current-color")};
  }
}
